<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label><b>Personalización</b></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Tipo de jugador </ion-label>
      <ion-select value="Elige" multiple="false">
        <ion-select-option value="casual">Casual</ion-select-option>
        <ion-select-option value="competitivo">Competitivo</ion-select-option>
        <ion-select-option value="trophyhunter">Trophy Hunter</ion-select-option>
        <ion-select-option value="multiplayer">Multiplayer</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  
  
</ion-content>
