// Imports
// --------------------------------------
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

// Variables
// --------------------------------------
$scrollbar-width:              10px;
$chat-thread-bgd-color:        rgba(25,147,147,0.2);
$chat-thread-msg-arrow-size:   15px;
$chat-thread-avatar-size:      50px;
$chat-thread-offset:           #{$chat-thread-avatar-size + 30px};

ion-content {
	padding: 0;
	margin: 0;
	background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background-repeat: no-repeat;
  background-attachment: fixed;
}


.chat-thread {
	height: auto;
	list-style: none;
	overflow-y: hidden;
 	overflow-x: hidden;
}

.mensaje{
	max-width: 70%;
	.mensaje-content{
		margin: 0;
		color: black;
	}
}

.mensaje-yo{
	display: flex;
    justify-content: flex-end;
    max-width: 100%;
	
	ion-card{
		background-color: rgb(139, 247, 139);
	}
}

#chat{
	overflow: hidden;
}

#toolbar-header{
	--background: #54d61c;
}
