
<ion-content scroll-y="false" class="align"> 
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Login </h2>
        <h2 class="inactive underlineHover"> Regístrate </h2>

        <!-- Login Form -->
        <div class="form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(email, password)" autocomplete="on">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" required formControlName="email" #email>
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña" required formControlName="password" #password autocomplete="current-password">
            <input type="submit" class="fadeIn fourth" [disabled]="loginForm.invalid" value="Inicia sesión">
          </form>
          <input type="button" (click)="googleLogIn()" id="google" value="Inicia sesión con Google" class="fadeIn fifth">
        </div>
        
      </div>
      <a class="password underlineHover" routerLink="/forgot-password">¿Olvidaste la contraseña?</a> 
    </div>
  </ion-content>