<ion-tabs>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="js"></script>
    <!-- <nav class="tabs">
      <div class="selector"></div>
      <a routerLink="/chat"><i class="fas fa-hand-rock"></i>chat</a>
      <a routerLink="/home" class="active"><i class="fab fa-superpowers"></i>Home</a>
      <a routerLink="/perfil"><i class="fas fa-bolt"></i>Perfil</a>
      <a routerLink="/settings"><i class="fas fa-burn"></i>settings</a>
    </nav> -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="chat">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar> 

</ion-tabs>
