

ion-tab-bar {
    bottom: 20px;
    position: relative;
    border-radius: 16px;
    border-width: 5px;
    width: 95%;
    height: 10%;
    margin: auto;
    
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05a9e03a 0%,#8200f43d 100%);
  }
  ion-tab-button {
    --color: linear-gradient( 45deg, #05a9e050 0rgba(130, 0, 244, 0.24)f4 20%);
    --color-selected:#8034c4be;

    &::before {
      background-color: transparent;
      //display: block;
      content: "";
      //margin: 0 auto;
      width: 90%;
      height: 2px;
    }

}

   


