@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@300&display=swap');
 .user-icon{
     margin-right: 1em;
 }
 ion-toolbar{
     text-align: center;
     font-family: 'Nunito', sans-serif;
 }

 .no-matches{
    text-align: center;
    font-family: 'Nunito', sans-serif;
 }
 ion-list{
     padding: 0!important;
     
 }