<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [formGroup]="signUpForm">
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label >Nick:</ion-label>
      <ion-input type="text" formControlName="nick" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
        <ion-label >Nombre:</ion-label>
        <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label >Apellidos:</ion-label>
        <ion-input type="text" formControlName="lastName" placeholder="Apellidos"></ion-input>
    </ion-item>

    <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <ion-label >Correo electronico:</ion-label>
        <ion-input type="text" formControlName="email"placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
      <ion-label >Fecha de nacimiento:</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" formControlName="birthday"  placeholder="DD-MM-YYYY"></ion-datetime>
    </ion-item>
  </ion-list>
  <div [formGroup]="matching_passwords_group">
  <ion-list>
    <ion-item>
      <ion-icon name="eye-off-outline"></ion-icon>
      <ion-label >Contraseña:</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="eye-off-outline"></ion-icon>
      <ion-label> Confirmar contraseña:</ion-label>
      <ion-input type="password" formControlName="confirm_password"  placeholder=" Confirmar contraseña"></ion-input>
    </ion-item>
  </ion-list>
  </div>
</div>
  <div padding>
    <button ion-button block type="submit" [disabled]="!signUpForm.valid">Regístrate</button>
  </div>

</ion-content>
