
<ion-content class="align">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="form">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(email)" autocomplete="on">
          <ion-label position="floating" style="font-size: medium;">Dinos tu email:</ion-label>
          <input type="text" #email autocomplete="email" placeholder="Email" required formControlName="email"/>
          <input type="submit" (click)="onSubmit(email)" [disabled]="resetPasswordForm.invalid" value="Reestablecer contraseña">
        </form> 
      </div>
    </div>
  </div>
</ion-content>
