<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-list>
      <ion-list-sliding *ngFor="let usuario of usuarios">
        <ion-item lines="inset">
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-list-sliding>
    </ion-list>
  </ion-header>
  <ion-button routerLink="/perfil" color="danger" shape="round">
    Vamos al perfil
  </ion-button>
  <ion-button (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
    Cerrar sesion
  </ion-button>
</ion-content>
