<ion-header>
  <ion-toolbar>
    <ion-title>Completa el registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="getDataFromForm(signUpForm)">
    <ion-item>
      <ion-label position="floating">Nombre de usuario<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="displayName" #displayName required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.displayName">
        <div class="error-message" *ngIf="signUpForm.get('displayName').hasError(validation.type) && (signUpForm.get('displayName').dirty || signUpForm.get('displayName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="signUpForm.get('name').hasError(validation.type) && (signUpForm.get('name').dirty || signUpForm.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>  

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de nacimiento<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" formControlName="birthDate"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.birthDate">
        <div class="error-message" *ngIf="signUpForm.get('birthDate').hasError(validation.type) && (signUpForm.get('birthDate').dirty || signUpForm.get('birthDate').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> 
    <ion-button block color="primary" type="submit" [disabled]="signUpForm.invalid">
      Crear cuenta
    </ion-button>
  </form>
</ion-content>
