<ion-header>
  <ion-toolbar>
    <ion-title>Completa el registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Los datos marcados con un <ion-text color="danger">*</ion-text> son obligatorios</p>
  <form [formGroup]="signUpForm" (ngSubmit)="recibirDatosForm(signUpForm)">
    <ion-item>
      <ion-label position="floating">Nick<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="nick"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de nacimiento<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" formControlName="birthday"></ion-datetime>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="signUpForm.invalid">
      Crear cuenta
    </ion-button>
  </form>
</ion-content>
