<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span><strong>Ajustes de privacidad:</strong></span>
  <ion-item>
    <ion-label>Mostrar edad</ion-label>
    <ion-toggle [(ngModel)]="actualPrivacy.age" (ionChange)="setPrivacyAge($event)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Mostrar nombre</ion-label>
    <ion-toggle [(ngModel)]="actualPrivacy.name" (ionChange)="setPrivacyName($event)"></ion-toggle>
  </ion-item>
  <br>
  <br>
  <span><strong>Ajustes de cuenta:</strong></span>
  <ion-item>
    <!-- <ion-buttons> -->
      <ion-button (click)="logOut()" color="primary">
        Cerrar sesion
      </ion-button>
    </ion-item>
  <ion-item>
      <ion-button (click)="deleteAccount()" color="danger">
        Eliminar cuenta
      </ion-button>
    <!-- </ion-buttons> -->
  </ion-item>
</ion-content>
